.custom-cycle div{
    height: 40vh;
    width: 100%;
    position: relative;
    background: #212121;
        h2{
            position: absolute;
            top: 30%;
            right: 40%;
            color: #fff;
        }
}
