.mega-menu-toggle{
    position: relative;
    z-index: 2;
    margin-top: -58px;
    transition: 0.4s ease all;
}

.title-bar-title{
    padding: 20px;
    img{
        width: 100px;
        position: relative;
        z-index: 99;
    }
}

.top-logo-mt{
    padding: 30px 0;
}

.logo{
    li{
        list-style: none;
        a{
            transition: 0.4s ease all;
            &:hover{
                opacity: 0.4;
                transition: 0.4s ease all;
            }
        }
    }
}
.menu-technique{
    float: right;
    ul{
        li{
            display: inline-block;
            list-style: none;
            padding: 0 10px;
            position: relative;
            a{
                transition: 0.4s ease all;
                &:hover{
                    opacity: 0.4;
                    transition: 0.4s ease all;
                }
            }
            .cart-count{
              position: absolute;
              right: 5px;
              top: -5px;
              background: #000;
              text-align: center;
              color: #fff;
              width: 20px;
              height: 20px;
              line-height: 20px;
              border-radius: 10px;
              font-size: 10px;
              font-family: $montserrat;
            }
        }
    }
}

.menu-technique-mobile{
    float: right;
    position: relative;
    z-index: 3;
    ul{
        li{
            display: inline-block;
            list-style: none;
            padding: 0 7px;
            a{
                transition: 0.4s ease all;
                img{
                    width: 20px;
                }
                &:hover{
                    opacity: 0.4;
                    transition: 0.4s ease all;
                }
            }
        }
    }
}

#mega-menu-top-bar-r{
    width: 100% !important;
    transition: 0.4s ease all;
        li{
            a{
                font-family: $montserrat !important;
            }
    }
}

@media screen and (min-width: 760px) and (max-width: 1100px){
    /*.top-bar-section{
        #mega-menu-wrap-top-bar-r{
            #mega-menu-top-bar-r{
                position: absolute;
                z-index: 999;
                top: 40px;
                width: 100%;
                padding: 20px;
                background: #fff;
            }
        }
    }*/
    .page-content{
      border-top: 0;
      padding: 20px 0;
      margin-top: 0;
    }
    .menu-technique{
      ul{
        li{
          .cart-count{
            padding-top: 0;
          }
        }
      }
    }
}

@media screen and (max-width: 759px){
  .title-bar{
    background: #fff;
    padding: 0;
  }
  .title-bar-title{
    padding: 10px 20px;
  }
  .menu-mobile{
    padding: 0;
  }
  .mega-menu-toggle{
    margin: 0;
  }
  .menu-technique{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    ul{
      margin: 0;
      li{
        .cart-count{
          padding-top: 0;
          width: 17px;
          height: 17px;
          right: 5px !important;
        }
        a{
          img{
            width: 24px;
          }
          &.search-btn{
            i{
              font-size: 24px;
              line-height: 24px;
              vertical-align: middle;
              color: #000;
            }
          }
        }
      }
    }
  }
}
