.quote-bg{
    background: #000;
    padding: 50px;
    .quote{
        color: #fff;
        h2{
            font-size: 22px;
            width: 80%;
            display: block;
            margin: 0 auto;
            font-family: $garamond;
        }
        h3{
            font-size: 14px;
            display: block;
            margin: 20px auto 0 auto;
            text-align: right;
            width: 80%;
        }
    }
}

.reassurance-bg{
    background: #fff;
}

.reassurance{
    padding: 50px 0;
    border-top: 1px solid #000;
    div{
        text-align: center;
        padding: 20px;
        vertical-align: bottom;
        .rea-item{
            border: 1px solid #000;
            transition: 0.4s ease all;
            img{
                margin: 0 auto;
                display: block;
                vertical-align: bottom;
                height: 40px;
            }
            h3{
                padding-top: 30px;
                font-size: 12px;
                font-family: $opensans;
                font-weight: 700;
                vertical-align: bottom;
                display: block;
            }
            &:hover{
                background: #f0f0f0;
                transition: 0.4s ease all;
            }
        }

    }
}

.bg-title{
    height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
        font-family: $montserrat;
        font-size: 30px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 10px;
    }
}

.best-sells{
    background: url(../images/fixe/bgtitle/best-sells.jpg) center center no-repeat;
    background-size: cover;
    //background-attachment: fixed;
}

.marques{
    background: url(../images/fixe/bgtitle/nosmarques.jpg) center center no-repeat;
    background-size: cover;
    //background-attachment: fixed;
}

.blog-title{
    background: url(../images/fixe/bgtitle/blog.jpg) center center no-repeat;
    background-size: cover;
    //background-attachment: fixed;
}

.new-watches{
    width: 100%;
    background: url(../images/fixe/bgtitle/nouveaute.jpg) center center no-repeat;
    background-size: cover;
    //background-attachment: fixed;
}
#img-mini{
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    img{
        display: block;
        margin: 0 auto;
        transition: 0.4s ease all;
    }
    &:hover{
        img{
            transform: scale(1.1, 1.1);
            transition: 0.4s ease all;
        }
    }
}
.watches-bsells{
    padding:70px 0;
    div{
        position: relative;
        &:hover{
            transition: 0.4s ease all;
            .price{
                .amount{
                    position: absolute;
                    width: 100%;
                    display: block;
                    color: #fff;
                    background: #000;
                    top: 0;
                    text-align: center;
                    height: 30px;
                    line-height: 30px;
                    vertical-align: middle;
                    font-family: $opensans;
                    padding: 0;
                    margin: 0;
                    transition: 0.4s ease all;
                }
            }
        }
        .price{
            display: block;
            .amount{
                display: none;
            }
        }
        span{
            h4{
                font-family: $opensans;
                font-weight: 700;
                font-size: 16px;
                text-transform: uppercase;
                margin: 0;
                p{
                    margin: 0;
                }
            }
            h5{
                font-family: $opensans;
                font-size: 12px;
                text-transform: uppercase;
            }
            a{
                display: block;
                text-align: center;
                font-family: $montserrat;
                font-size: 16px;
                background: #000;
                color: #fff;
                padding: 10px 0;
                width: 100%;
                text-transform: uppercase;
                letter-spacing: 5px;
                border: 1px solid #000;
                transition: 0.4s ease all;
                &:hover{
                    background: #fff;
                    color: #000;
                    border: 1px solid #000;
                    transition: 0.4s ease all;
                }
            }
        }
    }
}

.marques-items{
    padding: 70px 0;
    div{
        height: 100px;
        display: flex;
        align-items: center;
        align-content: center;
        img{
            display: block;
            margin: 0 auto;
        }
    }
}
.blog-bg{
    background: #fff;
}
.blog-items{
    padding: 70px 0;
    div{
        padding: 20px;
        .img-container{
            width: 100%;
            height: 150px;
            overflow: hidden;
            padding: 0;
            img{
                width: 100%;
            }
        }
        span{
            display: block;
            padding: 20px 0;
            h4{
                font-family: $opensans;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
            }
            p{
                font-family: $opensans;
                font-size: 14px;
                margin: 0;
            }
        }
        a{
            display: block;
            text-align: center;
            font-family: $montserrat;
            font-size: 14px;
            background: #000;
            color: #fff;
            padding: 10px 0;
            width: 100%;
            text-transform: uppercase;
            letter-spacing: 5px;
            border: 1px solid #000;
            transition: 0.4s ease all;
            &:hover{
                border: 1px solid #000;
                background: #f0f0f0;
                color: #000;
                transition: 0.4s ease all;
            }

        }
    }
}

@media screen and (max-width: 1099px){
    .bg-title{
        display: block;
        text-align: center;
        padding: 40px 0;
        height: auto;
    }
    .reassurance{
        padding: 50px 0;
        div{
            //padding:0 20px;
            h3{
                font-size: 12px;
                margin: 0;
            }
        }
    }
    .blog-items{
        padding: 50px 0;
        div{
            padding: 20px 20px;
        }
    }
    .watches-bsells{
        padding:70px 0;
        div{
            position: relative;
            &:hover{
                .price{
                    display: block;
                    .amount{
                        display: block !important;
                        position: relative !important;
                        color: #000;
                        background: #fff;
                        font-family: $opensans;
                        height: 30px;
                        line-height: 30px;
                    }
                }
            }
            .price{
                display: block;
                .amount{
                    display: block !important;
                    position: relative !important;
                    color: #000;
                    font-family: $opensans;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                }
            }
        }
    }
}
