.custom-cycle{
    overflow: hidden;
    .slide01{
        background: #f0f0f0;
        img{
            position: relative;
            left: 25%;
        }
    }
    .slide02{
        background: #f0f0f0;
        img{
            position: relative;
            left: 25%;
        }
    }
    .slide03{
        background: #f0f0f0;
        img{
            position: relative;
            left: 25%;
        }
    }
    div{
        height: 40vh;
        width: 100%;
        position: relative;
        background: #212121;
        span{
            position: absolute;
            top: 30%;
            right: 40%;
            height: 20vh;
            .new{
                color: #000;
                border: 3px solid #000;
                padding: 7px;
                text-transform: uppercase;
                font-family: $montserrat;
                font-size: 12px;
                letter-spacing: 5px;
                transition: 0.4s ease all;
                &:hover{
                    opacity: 0.5;
                    transition: 0.4s ease all;
                }
            }
            h2{
                color: #000;
                font-size: 32px;
                line-height: 32px;
                font-family: $montserrat;
                margin: 0;
                padding: 20px 0 0 0;
            }
            h3{
                color: #000;
                font-size: 16px;
                line-height: 16px;
                margin: 0 0 10px 0;
                padding: 5px 0 10px 0;
            }
            .decouvrir{
                padding: 10px 30px;
                color: #fff;
                letter-spacing: 5px;
                text-transform: uppercase;
                background: #000;
                font-family: $montserrat;
                transition: 0.4s ease all;
                &:hover{
                    opacity: 0.5;
                    transition: 0.4s ease all;
                }
            }
        }

    }
}

@media screen and (max-width: 760px){
    .custom-cycle{
        overflow: hidden;
        div{
            span{
                right: 10%;
                background: #fff;
                padding: 20px;
            }
        }
        .slide01{
            background: #f0f0f0;
            img{
                position: relative;
                left: 0px;
            }
        }
        .slide02{
            background: #f0f0f0;
            img{
                position: relative;
                left: 0px;
            }
        }
        .slide03{
            background: #f0f0f0;
            img{
                position: relative;
                left: 0px;
            }
        }
    }
}
@media screen and (min-width: 761px) and (max-width: 1099px){
    .custom-cycle{
        overflow: hidden;
        div{
            span{
                right: 10%;
                padding: 20px;
            }
        }
        .slide01{
            background: #f0f0f0;
            img{
                position: relative;
                left: 10px;
            }
        }
        .slide02{
            background: #f0f0f0;
            img{
                position: relative;
                left: 10px;
            }
        }
        .slide03{
            background: #f0f0f0;
            img{
                position: relative;
                left: 10px;
            }
        }
    }
}

@media screen and (min-width: 1100px) and (max-width: 1850px){
    .custom-cycle{
        overflow: hidden;
        div{
            span{
                right: 32%;
                padding: 20px;
            }
        }
        .slide01{
            background: #f0f0f0;
            img{
                position: relative;
                left: 18%;
            }
        }
        .slide02{
            background: #f0f0f0;
            img{
                position: relative;
                left: 13%;
            }
        }
        .slide03{
            background: #f0f0f0;
            img{
                position: relative;
                left: 8%;
            }
        }
    }
}
