/* Navigation breakpoints */

.desktop-menu, .top-bar-left {
  @include show-for(medium);
}

#mobile-menu, .title-bar {
  @include hide-for(medium);
}

/* Mobile menu */

.off-canvas {
 > ul.menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

/* Tablet and desktop menu */
.top-bar {
    height: auto;
    background: #fff;
    ul{
        background: #fff;
    }
    #menu-main-menu{
        background: #fff;
        width: 100%;
        li{
            transition: 0.4s ease all;
            &.active a{
                background: #fff;
                opacity: 0.3;
            }
            &:hover a{
                opacity: 0.3;
                transition: 0.4s ease all;
            }
            a{
            text-align: center;
            font-family: $montserrat;
            font-size: 18px;
            color: #000;
            text-transform: uppercase;
            }
        }
    }
  .menu .home a {
    font-size: 1rem;
    color: #B9B9B9;
    background: #fff;
    img{
        transition: 0.4s ease all;
    }
  }

  .menu a {
    line-height: 45px;
    color: #e6e6e6;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1;

    &:hover:not(.button) {
      background-color: #fff;
      img{
          opacity: 0.3;
          transition: 0.4s ease all;
      }
    }
  }

  .menu>li:not(.menu-text)>a { padding: 1rem;  }
  .menu li:not(:last-child) { }

  .dropdown.menu .submenu {
    background-color: #f0f0f0;
    color: #e6e6e6;
    border: 0;
    position: absolute;
    right: 0;
    width: 1200px;
    z-index: 999;
    height: 40vh;
    li{
        display: block;
    }
  }

  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }

  .dropdown.menu:first-child >
    li.is-dropdown-submenu-parent >
    a::after {
      display: none;
    }

}
